<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link type="text/css" rel="stylesheet" href="../assets/css/main.css" th:href="@{/assets/css/main.css}" />

  <link type="text/css" rel='stylesheet' href="../assets/css/lib/bootstrap.min.css" th:href="@{/assets/css/lib/bootstrap.min.css}" />

  <script src="../assets/js/lib/jquery.1.10.2.min.js" th:src="@{/assets/js/lib/jquery.1.10.2.min.js}"></script>

  <script type="text/javascript" src="../assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

  <title>RankMySteam - Blacklist</title>
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index">RankMySteam</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./leaderboard">Leaderboard</a></li>
            <li class="active"><a href="./index">Profiles</a></li>
            <li class="active"><a href="./countries">Countries</a></li>
            <li class="active"><a href="./games">Games</a></li>
            <li class="active"><a href="./blacklist">Blacklist</a></li>
            <li class="active"><a href="./about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Blacklist</h1>
        <p>If you wish to permanently remove your Steam profile from RankMySteam, enter your Steam user ID below to be added to the site's blacklist.</p>

        <form class="form-inline" action="#" th:action="@{'/blacklist'}" th:object="${steamProfile}" method="post">
        <input type="text" class="form-control" placeholder="ex: fireinthehole" th:field="*{userQuery}" />
        <button class="btn btn-default" type="submit">Submit</button>
        <p th:text="${error}" />
        </form>
      </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../assets/js/lib/bootstrap.min.js" th:src="@{/assets/js/lib/bootstrap.min.js}"></script> 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/lib/ie10-viewport-bug-workaround.js" th:src="@{assets/js/lib/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
