<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link type="text/css" rel="stylesheet" href="../assets/css/main.css" th:href="@{/assets/css/main.css}" />

  <link type="text/css" rel='stylesheet' href="../assets/css/lib/bootstrap.min.css" th:href="@{/assets/css/lib/bootstrap.min.css}" />

  <script src="../assets/js/lib/jquery.1.10.2.min.js" th:src="@{/assets/js/lib/jquery.1.10.2.min.js}"></script>

  <script type="text/javascript" src="../assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

  <title>Rank My Steam</title>
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index">Rank My Steam</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./leaderboard">Leaderboard</a></li>
            <li class="active"><a href="./index">Profiles</a></li>
            <li class="active"><a href="./countries">Countries</a></li>
            <li class="active"><a href="./games">Games</a></li>
            <li class="active"><a href="./blacklist">Blacklist</a></li>
            <li class="active"><a href="./about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        <h1>Start by searching for a Steam profile</h1>
        <p>You can enter a Steam ID64, a Steam Community profile ID, or a Steam Community profile URL</p>

        <form action="#" th:action="@{/}" th:object="${steamProfile}" method="post">
        <input type="text" th:field="*{userQuery}" />
        <button type="submit">Submit</button>

        <p th:text="${error}" />
        </form>
        <label th:text="${steamnews.title}"></label>
        <label th:text="${steamnews.url}"></label>
        <label th:text="${steamnews.contents}"></label>
      </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../assets/js/lib/bootstrap.min.js" th:src="@{/assets/js/lib/bootstrap.min.js}"></script> 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/lib/ie10-viewport-bug-workaround.js" th:src="@{assets/js/lib/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
