<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link type="text/css" rel='stylesheet' href="../assets/css/lib/bootstrap.min.css" th:href="@{/assets/css/lib/bootstrap.min.css}" />

  <link type="text/css" rel='stylesheet' href="../assets/css/lib/normalize.css" th:href="@{/assets/css/lib/normalize.css}" />

  <link type="text/css" rel='stylesheet' href="../assets/css/leaderboard.css" th:href="@{/assets/css/leaderboard.css}" />

  <script src="../assets/js/lib/jquery.1.10.2.min.js" th:src="@{/assets/js/lib/jquery.1.10.2.min.js}"></script>

  <!-- // <script src="../assets/js/leaderboard.js" th:src="@{/assets/js/leaderboard.js}"></script> -->
  

  <title>Rank My Steam</title>
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index">Rank My Steam</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./leaderboard">Leaderboard</a></li>
            <li class="active"><a href="./index">Profiles</a></li>
            <li class="active"><a href="./countries">Countries</a></li>
            <li class="active"><a href="./games">Games</a></li>
            <li class="active"><a href="./blacklist">Blacklist</a></li>
            <li class="active"><a href="./about">About</a></li>          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">     
      <div class="starter-template">
        <h1>Global Leaderboard</h1>
        <table id="leaderboard-table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th><a th:href="@{'/leaderboard'}">Achievements</a></th>
              <th><a th:href="@{'/leaderboard?type=completionrate'}">Completion Rate</a></th>
              <th><a th:href="@{'/leaderboard?type=playtime'}">Play Time</a></th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="rankentry : ${rankentries}">
              <th th:text="${rankentry.rankNumber}">0</th>
              <td><a th:text="${rankentry.name}" th:href="@{'/profile?id=' + ${rankentry.id64}}" href=""></a></td>
              <td th:text="${rankentry.achievementsTotal}">0</td>
              <td th:text="${rankentry.completionRate}">100</td>
              <td th:text="${rankentry.totalPlayTime}">100</td>
              <td><a th:href="@{'/countries?id=' + ${rankentry.countryCode}}" href=""><img th:src="@{'/assets/images/country_flags/48/' + ${rankentry.countryCode}} + '.png'" /></a></td>
            </tr>
          </tbody>
        </table>
        <!-- <button onclick="addRow()">Add row</button>         -->
      </div>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../assets/js/lib/bootstrap.min.js" th:src="@{/assets/js/lib/bootstrap.min.js}"></script> 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/lib/ie10-viewport-bug-workaround.js" th:src="@{assets/js/lib/ie10-viewport-bug-workaround.js}"></script>
<!--     // <script src="../assets/js/lib/jquery-throttle-debounce.min.js" th:src="@{/assets/js/lib/jquery-throttle-debounce.min.js}"></script>    
    // <script src="../assets/js/lib/jquery.stickyheader.js" th:src="@{/assets/js/lib/jquery.stickyheader.js}"></script> -->
</body>
</html>