<!DOCTYPE html>
<html>
<head>
  <title>Rank My Steam</title>
</head>
<body>
  <p>Overall Leaderboard</p>

  <div class="container">
    <div class="heading">
        <div class="col">Rank</div>
        <div class="col">Name</div>
        <div class="col"># of achievements</div>
        <div class="col">Total time played</div>
        <div class="col">Country</div>
    </div>

    <!-- template to add -->
    <div class="table-row">
        <div class="col" th:text="${rank1}" />
        <div class="col">...</div>
        <div class="col">...</div>
        <div class="col">...</div>
        <div class="col">...</div>
    </div>
  </div>
</body>
</html>