<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link type="text/css" rel='stylesheet' href="../assets/css/lib/bootstrap.min.css" th:href="@{/assets/css/lib/bootstrap.min.css}" />

  <link type="text/css" rel='stylesheet' href="../assets/css/lib/normalize.css" th:href="@{/assets/css/lib/normalize.css}" />

  <link type="text/css" rel='stylesheet' href="../assets/css/profile.css" th:href="@{/assets/css/profile.css}" />

  <title>Rank My Steam</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rank My Steam</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./leaderboard.html">Leaderboard</a></li>
            <li><a href="./profile">Profile</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
<!--         <img th:src="@{${full_avatar_url}}" />
        <p th:text="${full_avatar_url}" />
        <p th:text="${personal_name}" />        
        <p th:text="${message}" />
        <p th:text="${url}" />
 -->        
        <table class ="tg" align="center" id="User Data">
          <tr> 
            <th class="tg-031e" rowspan="5"><img th:src="@{${full_avatar_url}}" style="width:160px;height:160px"/> </th>
            <th class="tg-031e"></th>
          </tr>
          <tr>
            <th>User ID: </th> 
            <td th:text="${id}">Temp</td>
          </tr>
          <tr>
            <th>Steam Real Name:</th>
            <td th:text="${realname}">Temp</td>
          </tr>
          <tr>
            <th>Personal Name:</th>
            <td th:text="${persona_name}">Temp</td>
          </tr>
          <tr>
             <th>Country:</th>
             <td th:text="${country}">Temp</td>
          </tr>
<!--           <tr>
             <th>Last Online:</th>
            <td td:text="${lastonline}">Temp</td>
          </tr> -->
        </table>  
        <br></br>

        <div class="Achievements">               
          <table id="Achievement Table" align="center" width="500">
          <thead>
            <tr>
              <th>Icon</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="rankentry : ${rankentries}">
              <td align="center" th:text="${rankentry.achievementsTotal}"><img src="http://static.gamespot.com/uploads/original/1535/15354745/2446675-1517947464-22823.jpg" style="width:30px;height:30px"/></td>
              <td align="center" th:text="${rankentry.completionRate}">Swag</td>
              <td align="center" th:text="${rankentry.countryCode}">Kill a spy with swag</td>
            </tr>
          </tbody>
          </table>
      </div>
      
       <div class="Games Played">              
          <table id="Games" align="center" width="500">
          <thead>
            <tr>
              <th>Game</th>
              <th>Name</th>
              <th>Completion Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="achievement : ${achievement}">
              <td align="center" th:text="${rankentry.achievementsTotal}"><img src="http://static.gamespot.com/uploads/original/1535/15354745/2446675-1517947464-22823.jpg" style="width:30px;height:30px"/></td>
              <td align="center" th:text="${rankentry.completionRate}">CounterStrike</td>
              <td align="center" th:text="${rankentry.countryCode}">62%</td>
            </tr>
          </tbody>
          </table>
      </div>
        
       <table align="center" id="Profile-table">
          <thead>
            <tr>
               <th>User ID: </th> 
               <p td:text="${id}"/>
            </tr>
            <tr>
               <th>Country:</th>
               <p td:text="${countrycode}"/>
            </tr>
            <tr>
               <th>Last Online:</th>
               <p td:text="${lastonline}"/>
            </tr>  
          </thead>
          <tbody>
            <tr th:each="game : ${games}">
              <th th:text="${game.name}">Pokemon</th>
              <td><img th:src="@{${game.logoUrl}}" /></td>
         <td th:text="${game.achievementsTotal}">0</td>
              <td th:text="${game.completionRate}">100</td>
              <td th:text="${game.countryCode}">What Country</td>
            </tr>
          </tbody>
        </table>     
      </div>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../assets/js/lib/bootstrap.min.js" th:src="@{/assets/js/lib/bootstrap.min.js}"></script> 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/lib/ie10-viewport-bug-workaround.js" th:src="@{assets/js/lib/ie10-viewport-bug-workaround.js}"></script>
<!--     // <script src="../assets/js/lib/jquery-throttle-debounce.min.js" th:src="@{/assets/js/lib/jquery-throttle-debounce.min.js}"></script>    
    // <script src="../assets/js/lib/jquery.stickyheader.js" th:src="@{/assets/js/lib/jquery.stickyheader.js}"></script> -->
</body>
</html>